body {
    color: #f248a4;
    background-color: #add8e6;

    font-family: "Helvetica";
}

li {
    color: deepskyblue;

}

.flexboxmasterswitch {
    display: flex;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
}

.multi-column-container {
    display: flex;
    justify-content: space-around;
}

li {
    color: darkred;
}


h2 {
    color: aliceblue;
}

.giants-blue {
    color: blue;
}

.giants-font-big {
    font-size: 30px;

}

.giants-font-heavy {
    font-weight: 900;
}

#content p a {
    color: red;
}

body ol,
body ul {
    /*    background-color: transparent;*/
}
/*
main {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
*/
.centered{
    display: flex;
justify-content: center;
    align-items: center;
}
.centered {

    margin-left: 40px;
    margin-right: 50px;

    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    width: 80%;


    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 30rem) {
    h1 {
        color: darkcyan;
    }
}
